[CHAT]
CHAT_TOKEN = oauth:YOUR_BOT_TOKEN_HERE
CHANNELS = [YOUR_CHANNEL_NAME_LOWERCASE_HERE]
PREFIX = !
BOT_USERNAME = YOUR_BOT_NAME_HERE
CLIENT_ID = OPTIONAL_YOUR_CLIENT_ID_HERE  # Opcional para funcionalidades extras